.cuerpotexto{ font-size: 13px;
            color: green;
            font-family: arial, helverica, verdana, sans-serif
           }

.titulo{font-size:18px;
        text-align: center;
        color: blue;
        font weigh: bold;
        font-family: arial, helverica, verdana, sans-serif
        }
